<nav class="navbar">
    <div class="navbar-container">
        <a href="../views/index.html" class="brand-logo">
            <img src="../assets/img/logo.png" alt="Becas Con Propósito" class="logo-img">
            <div class="brand-text">
                <span class="brand-line1">Becas</span>
                <span class="brand-line2">Con Propósito</span>
            </div>
        </a>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-links">
            <li><a href="../views/index.html">Inicio</a></li>
            <li><a href="../views/index.html#causas">Causas</a></li>
            <li><a href="../views/index.html#Como_Funciona">Cómo Funciona</a></li>
            <li><a href="../views/beneficio_fiscal.html">Beneficio Fiscal</a></li>
            <li class="cta-item"><a href="../views/elige_donante.html" class="btn-cta">Regala un Certificado</a></li>
        </ul>
    </div>
</nav>